<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%Provisioning.title"
            class="org.eclipse.equinox.prov.ui.admin.internal.preferences.ProvisioningPrefPage"
            id="org.eclipse.prov.ui.preferences.ProvisioningPrefPage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.equinox.prov.ui.admin.internal.preferences.ProvUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%viewCategoryName"
            id="org.eclipse.prov.ui.admin">
      </category>
      <view
            name="%MetadataRepositories.name"
            icon="$nl$/icons/obj/metadata_repo_obj.gif"
            category="org.eclipse.prov.ui.admin"
            class="org.eclipse.equinox.prov.ui.admin.internal.MetadataRepositoriesView"
            id="org.eclipse.prov.ui.admin.MetadataRepositoriesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
     <view
            name="%ArtifactRepositories.name"
            icon="$nl$/icons/obj/artifact_repo_obj.gif"
            category="org.eclipse.prov.ui.admin"
            class="org.eclipse.equinox.prov.ui.admin.internal.ArtifactRepositoriesView"
            id="org.eclipse.prov.ui.admin.ArtifactRepositoriesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
     <view
            name="%Profiles.name"
            icon="$nl$/icons/obj/profile_obj.gif"
            category="org.eclipse.prov.ui.admin"
            class="org.eclipse.equinox.prov.ui.admin.internal.ProfilesView"
            id="org.eclipse.prov.ui.admin.ProfilesView">
      </view>
   </extension>
   
     <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspectiveName"
            icon="$nl$/icons/provision.gif"
            class="org.eclipse.equinox.prov.ui.admin.internal.ProvisioningPerspective"
            id="org.eclipse.equinox.prov.ui.admin.ProvisioningPerspective">
      </perspective>
   </extension>
 <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="%Profile.name"
            class="org.eclipse.equinox.prov.ui.dialogs.ProfilePropertyPage"
            id="org.eclipse.equinox.prov.ui.admin.internal.dialogs.ProfilePropertyPage">
            <enabledWhen>
             <instanceof
                  value="org.eclipse.equinox.prov.engine.Profile">
             </instanceof>
          </enabledWhen>
      </page>
      <page
            name="%IU.name"
            class="org.eclipse.equinox.prov.ui.dialogs.IUImplementationPropertyPage"
            id="org.eclipse.equinox.prov.ui.admin.internal.dialogs.IUPropertyPage">
            <enabledWhen>
            <or>
             <instanceof
                  value="org.eclipse.equinox.prov.metadata.InstallableUnit">
             </instanceof>
             <instanceof
                  value="org.eclipse.equinox.prov.ui.model.InstalledIUElement">
             </instanceof>
 
             </or>
          </enabledWhen>
      </page>
      
      <page
            name="%Repository.name"
            class="org.eclipse.equinox.prov.ui.dialogs.RepositoryImplementationPropertyPage"
            id="org.eclipse.equinox.prov.ui.admin.internal.dialogs.RepositoryPropertyPage">
            <enabledWhen>
            <or>
             <instanceof
                  value="org.eclipse.equinox.prov.metadata.repository.IMetadataRepository">
             </instanceof>
             <instanceof
                  value="org.eclipse.equinox.prov.artifact.repository.IArtifactRepository">
             </instanceof>
 
             </or>
          </enabledWhen>
      </page>
      
      </extension>

</plugin>
