<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.equinox.internal.p2.ui.model.ProvElement"
            class="org.eclipse.equinox.internal.p2.ui.ProvUIAdapterFactory">
         <adapter type="org.eclipse.equinox.internal.provisional.p2.metadata.IInstallableUnit"/>
         <adapter type="org.eclipse.equinox.internal.provisional.p2.engine.IProfile"/>
         <adapter type="org.eclipse.equinox.internal.provisional.p2.repository.IRepository"/>
         <adapter type="org.eclipse.equinox.internal.provisional.p2.metadata.repository.IMetadataRepository"/>
         <adapter type="org.eclipse.equinox.internal.provisional.p2.artifact.repository.IArtifactRepository"/>
      </factory>

   </extension>
</plugin>
