<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.eclipse.equinox.p2.category"
            name="%category.name">
      </category>
      <wizard
            category="org.eclipse.equinox.p2.category"
            class="org.eclipse.equinox.internal.p2.importexport.internal.wizard.ExportWizard"
            icon="icons/install_wiz.gif"
            id="org.eclipse.equinox.p2.replication.export"
            name="%export.name">
            <description>
            	%export.description
            </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.equinox.p2.category"
            name="%category.name">
      </category>
      <wizard
            category="org.eclipse.equinox.p2.category"
            class="org.eclipse.equinox.internal.p2.importexport.internal.wizard.ImportWizard"
            icon="icons/install_wiz.gif"
            id="org.eclipse.equinox.p2.replication.import"
            name="%import.name">
            <description>
            	%import.description
            </description>            
      </wizard>
      <wizard
            category="org.eclipse.equinox.p2.category"
            class="org.eclipse.equinox.internal.p2.importexport.internal.wizard.ImportFromInstallationWizard"
            icon="icons/install_wiz.gif"
            id="org.eclipse.equinox.p2.replication.importfrominstallation"
            name="%importfrominstallation.name">
         <description>
            %importfrominstance.description
         </description>
      </wizard>
   </extension>

</plugin>
