<plugin>
   <extension
         id="EclipseGenerator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.equinox.internal.prov.metadata.generator.EclipseGeneratorApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.equinox.prov.metadata.generator.EclipseGenerator"
            name="Equinox Provisioning Metadata Generator">
      </product>
   </extension>
</plugin>
