<plugin>
   <extension
         id="EclipseGenerator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.equinox.internal.p2.metadata.generator.EclipseGeneratorApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.pde.build.Build"
            name="fds">
         <property
               name="appName"
               value="fds">
         </property>
      </product>
   </extension>

	<extension point="org.eclipse.ant.core.antTasks">
		<antTask
			library="ant_tasks/generator-ant.jar"
			name="p2.generator"
			class="org.eclipse.equinox.internal.p2.metadata.generator.ant.GeneratorTask">
		</antTask>
	</extension>

	<extension point="org.eclipse.ant.core.extraClasspathEntries">
		<extraClasspathEntry library="ant_tasks/generator-ant.jar"/>
	</extension>

</plugin>
