target/
bin/
# files generated (temporary) by the tycho maven builds
.polyglot.*
.META-INF_*
pom.tycho
.tycho-consumer-pom.xml
.flattened-pom.xml
apiAnalyzer-workspace/

#Generated OSGi declarative service files
**/OSGI-INF/org.eclipse.*.xml
