<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.ant.core.antTasks">
     <antTask
            class="org.eclipse.equinox.p2.internal.repository.tools.tasks.Repo2RunnableTask"
            library="lib/repository-tools-ant.jar"
            name="p2.repo2runnable">
      </antTask>

     <antTask
            class="org.eclipse.equinox.p2.internal.repository.tools.tasks.MirrorTask"
            library="lib/repository-tools-ant.jar"
            name="p2.mirror">
      </antTask>

     <antTask
            class="org.eclipse.equinox.p2.internal.repository.tools.tasks.CompositeRepositoryTask"
            library="lib/repository-tools-ant.jar"
            name="p2.composite.repository">
      </antTask>
      
      <antTask
			library="lib/repository-tools-ant.jar"
			name="p2.process.artifacts"
			class="org.eclipse.equinox.p2.internal.repository.tools.tasks.ProcessRepoTask" >
	  </antTask>
	  
	  <antTask
			library="lib/repository-tools-ant.jar"
			name="p2.remove.iu"
			class="org.eclipse.equinox.p2.internal.repository.tools.tasks.RemoveIUTask" >
	  </antTask>
  </extension>
  
  <extension
         id="org.eclipse.equinox.p2.repository.repo2runnable"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="org.eclipse.equinox.p2.internal.repository.tools.Repo2Runnable"/>
      </application>
   </extension>

	<extension
    	point="org.eclipse.equinox.p2.artifact.repository.artifactComparators">
		<artifactComparator
			class="org.eclipse.equinox.p2.internal.repository.comparator.JarComparator"
			id="org.eclipse.equinox.p2.repository.tools.jar.comparator">
		</artifactComparator>
	</extension>

</plugin>
