<plugin>
   <extension id="InstallPublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.equinox.p2.publisher.eclipse.InstallPublisherApplication">
         </run>
      </application>
   </extension>
   <extension id="ProductPublisher" point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.equinox.p2.publisher.eclipse.ProductPublisherApplication">
         </run>
      </application>
   </extension>

	<extension point="org.eclipse.ant.core.antTasks">
		<antTask
			library="ant_tasks/generator-ant.jar"
			name="p2.generator"
			class="org.eclipse.equinox.internal.p2.metadata.generator.ant.GeneratorTask">
		</antTask>
	</extension>

	<extension point="org.eclipse.ant.core.extraClasspathEntries">
		<extraClasspathEntry library="ant_tasks/generator-ant.jar"/>
	</extension>

</plugin>
