<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="p2 - target to develop p2" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.core.tests.harness" version="0.0.0"/>
<unit id="org.eclipse.test.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5-I-builds"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.tukaani.xz" version="1.3.0.v201308270617"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20150316021154/repository/"/>
</location>
</locations>
</target>
