<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="artifactRepositories" name="Artifact Repositories" schema="schema/artifactRepositories.exsd"/>
   <extension-point id="processingSteps" name="Processing Steps" schema="schema/processingSteps.exsd"/>

	<extension
			point="org.eclipse.equinox.p2.artifact.repository.processingSteps"
			id="org.eclipse.equinox.p2.processing.Pack200Unpacker">
		<step class="org.eclipse.equinox.internal.p2.artifact.processors.pack200.Pack200ProcessorStep"/>
	</extension>

   <extension id="simpleRepository"  point="org.eclipse.equinox.p2.artifact.repository.artifactRepositories">
		<filter suffix="artifacts.xml"/>
		<factory class="org.eclipse.equinox.internal.provisional.spi.p2.artifact.repository.SimpleArtifactRepositoryFactory"/>
   </extension>

	<extension
			point="org.eclipse.equinox.p2.artifact.repository.processingSteps"
			id="org.eclipse.equinox.p2.processing.SignatureVerifier">
		<step class="org.eclipse.equinox.internal.p2.artifact.repository.SignatureVerifier"/>
	</extension>

   <extension id="mirrorApplication"  point="org.eclipse.core.runtime.applications">
      <application cardinality="1" thread="main" visible="true">
         <run class="org.eclipse.equinox.internal.p2.artifact.mirror.MirrorApplication"/>
      </application>
   </extension>
   
   	<extension
			point="org.eclipse.equinox.p2.artifact.repository.processingSteps"
			id="org.eclipse.equinox.p2.processing.MD5Verifier">
		<step class="org.eclipse.equinox.internal.p2.artifact.processors.md5.MD5Verifier"/>
	</extension>
</plugin>
