<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="artifactRepositories" name="Artifact Repositories" schema="schema/artifactRepositories.exsd"/>
   <extension-point id="processingSteps" name="Processing Steps" schema="schema/processingSteps.exsd"/>
   <extension-point id="artifactComparators" name="Artifact Comparators" schema="schema/artifactComparators.exsd"/>

	<extension
			point="org.eclipse.equinox.p2.artifact.repository.processingSteps"
			id="org.eclipse.equinox.p2.processing.Pack200Unpacker">
		<step class="org.eclipse.equinox.internal.p2.artifact.processors.pack200.Pack200ProcessorStep"/>
	</extension>

   <extension id="simpleRepository"  point="org.eclipse.equinox.p2.artifact.repository.artifactRepositories">
		<filter suffix="artifacts.xml"/>
		<factory class="org.eclipse.equinox.internal.provisional.spi.p2.artifact.repository.SimpleArtifactRepositoryFactory"/>
   </extension>
   
   <extension id="compositeRepository"  point="org.eclipse.equinox.p2.artifact.repository.artifactRepositories">
        <filter suffix="compositeArtifacts.xml"/>
        <factory class="org.eclipse.equinox.internal.p2.artifact.repository.CompositeArtifactRepositoryFactory"/>
   </extension>

	<extension
			point="org.eclipse.equinox.p2.artifact.repository.processingSteps"
			id="org.eclipse.equinox.p2.processing.SignatureVerifier">
		<step class="org.eclipse.equinox.internal.p2.artifact.repository.SignatureVerifier"/>
	</extension>

   	<extension
			point="org.eclipse.equinox.p2.artifact.repository.processingSteps"
			id="org.eclipse.equinox.p2.processing.MD5Verifier">
		<step class="org.eclipse.equinox.internal.p2.artifact.processors.md5.MD5Verifier"/>
	</extension>
	
	<extension point="org.eclipse.equinox.p2.artifact.repository.artifactComparators">
		<artifactComparator class="org.eclipse.equinox.internal.p2.artifact.processors.md5.MD5ArtifactComparator"
		id="org.eclipse.equinox.artifact.md5.comparator"/>
	</extension>
	
	<extension point="org.eclipse.ant.core.antTasks">
		
		<antTask
			library="ant_tasks/artifactRepository-ant.jar"
			name="p2.composite.artifact.repository.add"
			class="org.eclipse.equinox.internal.p2.artifact.repository.ant.AddChildTask">
		</antTask>
		
		<antTask
			library="ant_tasks/artifactRepository-ant.jar"
			name="p2.composite.artifact.repository.create"
			class="org.eclipse.equinox.internal.p2.artifact.repository.ant.CreateCompositeArtifactRepositoryTask">
		</antTask>
		
		<antTask
			library="ant_tasks/artifactRepository-ant.jar"
			name="p2.composite.artifact.repository.remove"
			class="org.eclipse.equinox.internal.p2.artifact.repository.ant.RemoveChildTask">
		</antTask>
		
		<antTask
			library="ant_tasks/artifactRepository-ant.jar"
			name="p2.composite.artifact.repository.validate"
			class="org.eclipse.equinox.internal.p2.artifact.repository.ant.ValidateTask">
		</antTask>

	</extension>

</plugin>
