<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
      <extension
      id="updatesiteRepository"
         point="org.eclipse.equinox.p2.metadata.repository.metadataRepositories">
      <factory
            class="org.eclipse.equinox.internal.p2.updatesite.metadata.UpdateSiteMetadataRepositoryFactory">
      </factory>
      <filter
            suffix="site.xml">
      </filter>
   </extension>
      <extension
            point="org.eclipse.equinox.p2.artifact.repository.artifactRepositories">
         <factory
               class="org.eclipse.equinox.internal.p2.updatesite.artifact.UpdateSiteArtifactRepositoryFactory">
         </factory>
         <filter
               suffix="site.xml">
         </filter>
      </extension>
</plugin>
