<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   	<extension 
   		id="preferences" point="org.eclipse.core.runtime.preferences" name="%preferences">
		<initializer class="org.eclipse.equinox.internal.p2.ui.sdk.prefs.PreferenceInitializer"/>
	</extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.eclipse.equinox.internal.p2.ui.sdk.AutomaticUpdateScheduler">
      </startup>
   </extension>
 <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="%IU.copyright"
            class="org.eclipse.equinox.internal.provisional.p2.ui.dialogs.IUCopyrightPropertyPage"
            id="org.eclipse.equinox.p2.ui.sdk.IUCopyrightPropertyPage">
            <enabledWhen>
            <adapt
                  type="org.eclipse.equinox.internal.provisional.p2.metadata.IInstallableUnit">
             </adapt>
          </enabledWhen>
      </page>
           <page
            name="%IU.general"
            class="org.eclipse.equinox.internal.provisional.p2.ui.dialogs.IUGeneralInfoPropertyPage"
            id="org.eclipse.equinox.p2.ui.sdk.IUGeneralInfoPropertyPage">
            <enabledWhen>
            <adapt
                  type="org.eclipse.equinox.internal.provisional.p2.metadata.IInstallableUnit">
             </adapt>
          </enabledWhen>
      </page>
      <page
            name="%IU.license"
            class="org.eclipse.equinox.internal.provisional.p2.ui.dialogs.IULicensePropertyPage"
            id="org.eclipse.equinox.p2.ui.sdk.IULicensePropertyPage">
            <enabledWhen>
            <adapt
                  type="org.eclipse.equinox.internal.provisional.p2.metadata.IInstallableUnit">
             </adapt>
          </enabledWhen>
      </page>
 
      <page
            name="%Repository.name"
            class="org.eclipse.equinox.internal.provisional.p2.ui.dialogs.RepositoryPropertyPage"
            id="org.eclipse.equinox.internal.p2.ui.sdk.RepositoryPropertyPage">
            <enabledWhen>
            <adapt
                  type="org.eclipse.equinox.internal.provisional.p2.ui.model.RepositoryElement">
             </adapt>
          </enabledWhen>
      </page>
      
      </extension>
       <extension
         point="org.eclipse.ui.preferencePages">
              <page
            name="%provisioningPrefPage"
            class="org.eclipse.equinox.internal.p2.ui.sdk.prefs.ProvisioningPreferencePage"
            id="org.eclipse.equinox.internal.p2.ui.sdk.ProvisioningPreferencePage">
            <keywordReference id="org.eclipse.equinox.p2.ui.sdk.updates.general"/>
      </page>
 
      <page
            name="%automaticUpdatesPrefPage"
            category="org.eclipse.equinox.internal.p2.ui.sdk.ProvisioningPreferencePage"
            class="org.eclipse.equinox.internal.p2.ui.sdk.prefs.AutomaticUpdatesPreferencePage"
            id="org.eclipse.equinox.internal.p2.ui.sdk.AutomaticUpdatesPreferencePage">
            <keywordReference id="org.eclipse.equinox.p2.ui.sdk.updates.general"/>
      </page>
   </extension>

      <extension
   		point="org.eclipse.ui.keywords">
      <keyword
            label="%preferenceKeywords.general"
            id="org.eclipse.equinox.p2.ui.sdk.updates.general"/>
      </extension>
      
      
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%Update.command"
            id="org.eclipse.equinox.p2.ui.sdk.update">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.equinox.p2.ui.sdk.update"
            class="org.eclipse.equinox.internal.p2.ui.sdk.UpdateHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=additions">
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  id="org.eclipse.equinox.p2.ui.sdk.update">
            </command>
      </menuContribution>
   </extension>

</plugin>
