<plugin>
   <extension
         id="queryableApp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.equinox.p2.tools.MetadataCompareApplication">
         </run>
      </application>
   </extension>
</plugin>
