<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
			point="org.eclipse.equinox.p2.artifact.repository.processingSteps"
			id="org.eclipse.equinox.p2.processing.ByteShifter">
		<step class="org.eclipse.equinox.p2.tests.artifact.repository.processing.ByteShifter"/>
	</extension>

	<extension
			point="org.eclipse.equinox.p2.artifact.repository.processingSteps"
			id="org.eclipse.equinox.p2.processing.Adder">
		<step class="org.eclipse.equinox.p2.tests.artifact.repository.processing.Adder"/>
	</extension>

	<extension
			point="org.eclipse.equinox.p2.artifact.repository.processingSteps"
			id="org.eclipse.equinox.p2.processing.Multiplier">
		<step class="org.eclipse.equinox.p2.tests.artifact.repository.processing.Multiplier"/>
	</extension>
 <extension
       id="phaseTest"
       point="org.eclipse.equinox.p2.engine.touchpoints">
    <touchpoint
          class="org.eclipse.equinox.p2.tests.engine.TouchpointTest$PhaseTestTouchpoint"
          type="phaseTest"
          version="1.0.0">
    </touchpoint>
 </extension>
 <extension
       id="operandTest"
       point="org.eclipse.equinox.p2.engine.touchpoints">
    <touchpoint
          class="org.eclipse.equinox.p2.tests.engine.TouchpointTest$OperandTestTouchpoint"
          type="operandTest"
          version="1.0.0">
    </touchpoint>
 </extension>

</plugin>
